{% extends 'core/base.html' %}
{% load static %}
{% block content  %}
<div class="mt-5">
	<div class="text-center">
		<img src="{% static 'core/images/image.jpg' %}" alt="ProfilePic" class="image-thubnail" width="250px" width="150px">
	</div>
	<div class="mt-5 text-white text-justify col-12">
		<h1 class="font-weight-bold satisfy-regular px-4">Hello,</h1>
		<div class="px-4" style="line-height: 2rem;">
			<p style="text-indent: 100px;">I am <b class="text-warning">Aakash Rathor</b>
				A <b class="text-warning">highly skilled and detail-oriented Python Developer</b> with a strong foundation in <b>Object-Oriented Programming (OOP)</b> and expertise in designing and developing scalable web applications. Proficient in <b>back-end development</b> using Python, with extensive experience in frameworks such as <b class="text-primary">Django</b>, <b class="text-primary">Flask</b>, and <b class="text-primary">Django Rest Framework (DRF)</b>. Adept at integrating <b>APIs</b>, including third-party solutions like <b class="text-success">payment gateways</b> and <b class="text-success">real-time email verification</b>, to enhance application functionality.

				Demonstrates a strong understanding of <b>database management</b> with both <b>SQL</b> (<i>SQLite</i>) and <b>NoSQL</b> (<i>MongoDB</i>) technologies, ensuring optimal performance and data security. Skilled in creating responsive and dynamic user interfaces using <b>HTML5</b>, <b>CSS</b>, <b>JavaScript</b>, and <b>jQuery</b>, delivering seamless front-end experiences.

				Hands-on experience with <b class="text-info">DevOps tools</b> like <b class="text-info">Docker</b> for containerization and <b class="text-info">Apache Airflow</b> for workflow orchestration. Proficient in version control systems such as <b class="text-success">GIT</b> and <b class="text-success">GitHub</b>, ensuring efficient collaboration and code quality.

				Experienced with tools like <b>VS Code</b>, <b>Sublime Text</b>, and <b>Postman</b>, and comfortable working on both <b>Linux</b> and <b>Windows</b> operating systems. Driven to contribute to <b class="text-warning">innovative and challenging projects</b>, leveraging strong analytical and problem-solving skills in a fast-paced, growth-oriented environment.

				<b class="text-primary">Key Skills</b>
				<ul> <li><b>Programming Languages</b>: Python, C, HTML5, CSS, JavaScript</li> <li><b>Frameworks & Technologies</b>: Django, Flask, Django Rest Framework (DRF), API Integration</li> <li><b>Database Management</b>: MongoDB, SQLite</li> <li><b>DevOps & Tools</b>: Docker, Apache Airflow, Postman, VS Code, Sublime Text, GIT, GitHub</li> <li><b>Operating Systems</b>: Linux, Windows</li> <li><b>Specialized Skills</b>: Third-party API Integration (Payment Gateway, Real-time Email Verification), Responsive UI Design, and Scalable Application Development</li> </ul>

			</p>
		</div>
	</div>
	<div class="text-center">
		<a href="{% url 'skill' %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
		<a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
	</div>
</div>
{% endblock content %}
