<!DOCTYPE html>
<html>
<head>
	<title>EXPERTISE</title>
	<style>
		.i-color{
  			color: chartreuse;
		}

		.ss-color{
  			color: whitesmoke;
		}

	</style>
</head>
</html>
{% extends 'core/base.html' %}

{% block content  %}
	<div class="container mt-5">
		<h1 class="text-warning mb-5 border-bottom">EXPERTISE</h1>
		<div class="row text-center text-white mb-5">
			<div class="col-sm-4">
				<i class="fas fa-search-dollar fa-2x mb-3 i-color"></i>
				<h3>SEO</h3>
				<p class="ss-color">Enhance your website’s visibility and ranking on search engines through advanced optimization techniques and data-driven strategies</p>
			</div>
			<div class="col-sm-4">
				<i class="fas fa-palette fa-2x mb-3 i-color"></i>
				<h3>Web Designing</h3>
				<p class="ss-color">Craft visually appealing and user-centric website designs using modern design principles and responsive frameworks</p>
			</div>
			<div class="col-sm-4">
				<i class="fas fa-code fa-2x mb-3 i-color"></i>
				<h3>Web Developement</h3>
				<p class="ss-color">Develop robust and scalable web applications with cutting-edge technologies, ensuring high performance and seamless user experiences</p>
			</div>
		</div>
		<div class="row text-center text-white mb-5">
			<div class="col-sm-4">
				<i class="fab fa-android fa-2x mb-3 i-color"></i>
				<h3>Andriod</h3>
				<p class="ss-color">Build feature-rich and optimized Android apps using the latest tools and best practices in mobile development.</p>
			</div>
			<div class="col-sm-4">
				<i class="fab fa-apple fa-2x mb-3 i-color"></i>
				<h3>ios</h3>
				<p class="ss-color"> Create high-performance iOS applications that deliver seamless experiences on Apple devices, leveraging Swift and Objective-C</p>
			</div>
			<div class="col-sm-4">
				<i class="fas fa-ad fa-2x mb-3 i-color"></i>
				<h3>Advertising</h3>
				<p class="ss-color">Say hello to Web Awesome, the biggest and best library of open-source web components.</p>
			</div>
		</div>
		<div class="row text-center text-white mb-5">
			<div class="col-sm-4">
				<i class="fas fa-pencil fa-2x mb-3 i-color"></i>
				<h3>Logo Design</h3>
				<p class="ss-color">Design memorable and impactful logos that effectively represent your brand identity and resonate with your target audience</p>
			</div>
			<div class="col-sm-4">
				<i class="fas fa-database fa-2x mb-3 i-color"></i>
				<h3>Hosting</h3>
				<p class="ss-color">Provide reliable and secure web hosting solutions with high uptime, fast loading speeds, and comprehensive support</p>
			</div>
			<div class="col-sm-4">
				<i class="fas fa-headset fa-2x mb-3 i-color"></i>
				<h3>Support</h3>
				<p class="ss-color">Offer dedicated technical support services to ensure your website and applications run smoothly, with prompt issue resolution</p>
			</div>
		</div>
	</div>
{% endblock content %}